- name: Test playbook
  hosts: myhosts
  become: yes
  roles:
    - new_role
    - geerlingguy.apache

  vars:
    apache_listen_port: 8080 # check default for what to modify
    apache_user: apache
    apache_group: apachegroup
    apache_remove_default_vhost: yes # remove default vhost

# Custom tasks that uses the apache role
# custom html page
  tasks:
    - name: Custom HTML page
      ansible.builtin.template:
        src: new_role/templates/test_template.j2
        dest: /var/www/html/index.html
        owner: apache
        group: apachegroup
        mode: '0644'
        force: yes # forces my template to be copied even if it exists
      notify: Restart Apache # notify the the handler below to restart apache

  handlers:
    - name: Restart Apache
      ansible.builtin.service:
        name: apache2
        state: restarted
